<%- include('./partials/header.ejs') %>
<style>
    table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    border-radius: 20px;
    table-layout: fixed;
  }
  
  td {
    font-size: 1.1rem;
    padding-left: 50px;  /* Ensure the padding-left is 50px */
    word-wrap: break-word;  /* Ensure long words wrap to the next line */
    overflow-wrap: break-word; /* Same as word-wrap for newer standards */
    white-space: normal; /* Ensure text can wrap naturally */
  }
  
  td span {
    margin-right: 20px;
  }
  
  td {
    vertical-align: top; /* Aligns text to the top */
  }
  
  </style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sideBar.ejs',{page_name:'quiz'}) %>
        </div>
        <div class="col-sm-10">
            <!--Main Content-->
            <% if (questions.length > 0) { %>
            <div class="container mt-5">
                <h2 class="text-warning mb-5 border-bottom">MULTIPLE CHOICE QUESTIONS ( <%= currentPage %> / <%= totalPages %> )</h2>
                <table class="table shadow-lg" >
                    <form action="/cppQuiz/<%= currentPage %>" method="post" id="quizForm">
                    <tbody>
                    <% questions.forEach((mcq)=>{ %>
                    <tr>
                        <td style="color: rgb(246, 252, 252); font-size: 1.2rem; padding-left: 30px;"><%= mcq.myQuestion %> </td>
                    </tr>
                    <tr>
                        <td style="background-color: #c2c1c1; padding-left: 40px; vertical-align: top;padding-top:0px;">
                            <div class="mcqs-txt">
                                <input type="radio" name="answer" value="A" required>
                                <span>A.</span> <%= mcq.optionA %>
                            </div>
                    </td>
                    </tr>
                    <tr>
                        <td style="background-color: #c2c1c1; padding-left: 40px; vertical-align: top;padding-top:0px;">
                            <div class="mcqs-txt">
                                <input type="radio" name="answer" value="B" required>
                                <span>B.</span><%= mcq.optionB %>
                            </div>
                        </td>
                    </tr>                        
                    <tr>
                        <td style="background-color: #c2c1c1; padding-left: 40px; vertical-align: top;padding-top:0px;">
                            <div class="mcqs-txt">
                                <input type="radio" name="answer" value="C" required>
                                <span>C.</span><%= mcq.optionC %>
                             </div>
                    </td>
                    </tr>            
                    <tr>
                        <td style="background-color: #c2c1c1; padding-left: 40px; vertical-align: top;padding-top:0px;">
                            <div class="mcqs-txt">
                                <input type="radio" name="answer" value="D" required>
                                <span> D.</span><%= mcq.optionD %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #c2c1c1; padding-left: 40px; vertical-align: top;padding-top:0px;">
                            <div class="mcqs-txt">
                                <input type="radio" name="answer" value="E" required>
                                <span> E.</span><%= mcq.optionE %>
                            </div>
                        </td>
                    </tr>            
                    <% }) %>
                    <tr>
                        <td style="background-color: #c2c1c1; padding-left: 40px; vertical-align: top;padding-top:0px;">
                            <button type="submit" class="btn btn-primary admin-label">NEXT</button>
                    </tr>
                    </tbody>
                    </form>
                </table>
        </div>
    </div>
        </div>
            </div>
                    <% } else { %>
                    <div class="container mt-5">
                        <h2 class="text-warning mb-5 border-bottom">CHECK RESULT</h2>
                            <div class="row text-white mb-5">
                                <div class="col-sm-9 mb-5">
                                    <p>No more questions. Thanks for participating!</p>
                                        <br>
                        <h3><a href="/cppResults">View Result?</a></h3>
                    </div>
                </div>
            </div>      
                    <% } %>
                    <script>
                        window.addEventListener('visibilitychange', function(){
                            if(document.hidden){
                                document.getElementById('quizForm').submit();
                            }
                        } )
                    </script>
    </div>
    <script>
        // Select all clickable div elements
        const divs = document.querySelectorAll('.mcqs-txt');

        // Add event listeners to each div
        divs.forEach(function(div) {
            div.addEventListener('click', function() {
                // Find the radio button within the clicked div and select it
                const radioButton = div.querySelector('input[type="radio"]');
                if (radioButton) {
                    radioButton.checked = true; // Select the radio button
                }
            });
        });
    </script>
    <%- include('./partials/footer.ejs') %>
    </div>
    </div>