<%- include('./partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sideBar.ejs',{page_name:'quiz'}) %>
        </div>
        <div class="col-sm-10">
            <!--Main Content-->
            <% if (questions.length > 0) { %>
            <div class="container mt-5">
                <h2 class="text-warning border-bottom">QUESTIONS REVIEW</h2>  
                            <div class="">
                                           <table class="table shadow-lg" style="background-color: rgb(196, 198, 193); border-radius: 20px;" >
                                               <tbody>
                                                    <tr>
                                                        <td><% questions.forEach((mcq)=>{ %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><%= mcq.myQuestion %> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>A.<%= mcq.optionA %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>B.<%= mcq.optionB %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>C.<%= mcq.optionC %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>D.<%= mcq.optionD %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>E.<%= mcq.optionE %></td>
                                                    </tr>
                                            
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                       </div> 
                                            <% } %> 
                        
        </div>         
    </div>
        </div>
            </div>
                    
                    
                </div>
            </div>      
    </div>
    <%- include('./partials/footer.ejs') %>
    </div>
    </div>